@font-face {
  font-family: 'digital';
  src: url('fonts/digital-7 (mono).ttf') format('truetype');
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: xenera, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#a1c4fd, #c2e9fb);
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 269px;
    height: 469px;
    background-color: #174696;
    border-radius: 6px 6px 25px 25px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

#top-part {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #1c2e75;
  border-top: 2px solid #0e183d;
  border-bottom: 2px solid #0e183d;
  height: 90px;
  width: 100%;
  overflow: hidden;
}

#screen {
  background-color: #bfbfbf;
  width: 80%;
  height: 100%;
  border: 5px solid #404040;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

#display {
  font-family: 'digital';
  font-size: 2.6em;
  text-align: right;
  padding-right: 8px;
  transition: opacity 3s ease;
}

#middle-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #0e183d;
}

#text-container {
  display: flex;
  justify-content: space-between;
  color: #bababa;
  width: 100%;
  height: 40%;
  padding: 8px 15px 0px 0px;
  text-shadow:
    0.5px 0.5px 0 #000,    /* Top-left */
    -0.5px -0.5px 0 #000,  /* Bottom-right */
    0.5px -0.5px 0 #000,   /* Top-right */
    -0.5px 0.5px 0 #000;   /* Bottom-left */
}

#text-container, td {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#brand {
  transform: scaleX(0.85);
  font-size: 95%;
}

#model {
  font-family: rockwell, serif;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: -6px;
}

#light-sensor-container {
  width:100%;
  height:100%;
  padding-left: 14px;
}

#light-sensor {
  display: flex;
  width: 120px;
  height: 38px;
}

.sensor-cell {
  border: 1px solid #0e183d;
  background-color: #4a3a34;
  flex: 1;
}

#buttons-container {
  margin: 12px 10px 30px 10px;
  border: 2px solid #0e183d;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

table {
  table-layout: fixed;
  border-spacing: 8px 12px;
}

td {
  width: 46px;
  height: 31px;
  border-radius: 4px;
  border: 2px solid #0e183d;
  text-align: left;
  vertical-align: top;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

td:active {
  filter: brightness(0.3);
}

.red {
  background-color: #e64040;
  color: #f0f0f0;;
}

.white {
  background-color: #f0f0f0;
  color: #0e183d;
}

.tall {
  height: 74px;
}

.small-text {
  font-size: 0.8em;
}

.padding-left {
  padding-left: 5px;
}